*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F6D6F6;
    font-size:15px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: #CF90D0;
    min-width: 700px;
    height: 8vh;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    text-decoration: none;
    margin-left: 80px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
/* Dropdown Language */

.dropbtn {
    background-color: #CF90D0;
    color: white;
    padding: 17px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    min-width: 51.5px;
    box-shadow: 0px, 8px, 16px, 0px white;
    z-index: 1;
}

.dropdown-content button {
    border-color: white;
    background-color: #F3A9E7 ;
    color: white;
    padding: 12px, 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    transition: background-color .2s linear;
}

.dropdown-content button:hover {
    color: white;
    background-color: #CF90D0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {

    background-color: #CF90D0;
}

/* Nav */
.nav__header {
    margin-right: 80px;
}

.nav__link {
    padding-top: 12px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
    font-size: 16px;

    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s;
}

.nav__link:hover {
    color: #fff;

}

.nav__link:hover::after {
    opacity: 1;
}

/* Main */

main {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.login__form {
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__title {
    font-size: 70px;
    color: white;
}

.login {
    box-sizing: border-box;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    width: 250px;
    height: 30px;
}

.password {
    box-sizing: border-box;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    width: 250px;
    height: 30px;
}

.btn__sumbit {
    font-size: 16px;
    color: white;
	border: 0;
    background-color: #F3A9E7;
    width: 230px;
    height: 40px;
    border-radius: 20px;
}

.btn__sumbit:hover {
	background-color: #F883E5;
}